<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mapper标签的namespace属性代表命名空间，使用命名空间来区分不同的mapper文件，目前的mapper可以随便写
    注意：以后以后使用mapper代理开发DAO时，namespace会起到关键作用
-->
<mapper namespace="com.hwua.common.dao.OrderDetailsMapper">

    <insert id="addNewInfo" parameterType="map">
      INSERT INTO order_details(oid, pid, count, price) VALUES
          (#{oid},#{pid},#{count},#{price})
    </insert>

    <select id="queryAll" parameterType="int" resultType="orderDetails">
        SELECT * FROM order_details WHERE oid IN (SELECT id FROM orders WHERE mid = #{mid})
    </select>

</mapper>