<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mapper标签的namespace属性代表命名空间，使用命名空间来区分不同的mapper文件，目前的mapper可以随便写
    注意：以后以后使用mapper代理开发DAO时，namespace会起到关键作用
-->
<mapper namespace="com.hwua.common.dao.ProductQueryMapper">
    <select id="queryAll" resultType="product">
        SELECT * FROM product ORDER BY SELLNUMBER DESC LIMIT 0,5
    </select>


    <select id="queryByPid" resultType="product" parameterType="int">
        SELECT * FROM product WHERE pid = #{pid}
    </select>


    <select id="queryByMid" resultType="map" parameterType="int">
        SELECT * from cart,product
        WHERE cart.pid = product.pid AND status = 0 AND mid = #{mid}
    </select>

    <select id="fuzzySearch" parameterType="map" resultType="product">
        SELECT * FROM product WHERE searchInfo LIKE concat('%',#{info},'%') LIMIT #{start},#{pageSize}
    </select>

    <select id="pageNum" parameterType="string" resultType="product">
        SELECT * FROM product WHERE searchInfo LIKE concat('%',#{info},'%')
    </select>

    <select id="queryType0" resultType="map" parameterType="int">
        SELECT * from cart,product
        WHERE cart.pid = product.pid AND status = 0 AND type = 0 AND mid = #{mid}
    </select>

    <update id="updateInventory" parameterType="map">
        UPDATE product SET INVENTORY = INVENTORY - #{count},SELLNUMBER = SELLNUMBER + #{count} WHERE pid = #{pid}
    </update>



    <select id="queryMainInfo" resultType="product">
        SELECT * FROM product
    </select>


    <select id="initQueryAll" resultType="category">
        SELECT * FROM category;
    </select>

    <select id="queryAllProducts" resultType="product">
        SELECT * FROM product WHERE PROSTATUS NOT IN (2)
    </select>


    <select id="queryPhone" resultType="product">
        SELECT * FROM product WHERE cid = 1
    </select>

    <select id="queryTV" resultType="product">
        SELECT * FROM product WHERE cid = 2
    </select>


   <insert id="addNewProduct" parameterType="map">
       INSERT INTO product(pname, cid, bid, SELPRICE, DISCOUNT, PURPRICE, INVENTORY, searchInfo,
                           intro, COMMENTS, URL, ADDDATE) VALUES (
               #{pname},#{cid},#{bid},#{selprice},#{discount},#{purprice},#{inventory},#{searchInfo},#{intro}
           ,#{comments},#{url},sysdate()
       )
   </insert>

    <update id="reSetProStatus1" parameterType="int">
        UPDATE product SET PROSTATUS = 1 WHERE pid = #{pid}
    </update>

    <update id="reSetProStatus0" parameterType="int">
        UPDATE product SET PROSTATUS = 0 WHERE pid = #{pid}
    </update>

    <update id="reSetProStatus2" parameterType="int">
        UPDATE product SET PROSTATUS = 2 WHERE pid = #{pid}
    </update>

    <update id="updateProduct" parameterType="product">
        UPDATE product SET pname = #{pName},cid = #{cid},bid = #{bid},SELPRICE = #{selPrice},
            DISCOUNT=#{discount},PURPRICE=#{purPrice},INVENTORY = #{inventory},searchInfo = #{searchInfo},
            intro=#{intro},COMMENTS=#{comments},URL=#{url} WHERE pid = #{pid}
    </update>





</mapper>