<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mapper标签的namespace属性代表命名空间，使用命名空间来区分不同的mapper文件，目前的mapper可以随便写
    注意：以后以后使用mapper代理开发DAO时，namespace会起到关键作用
-->
<mapper namespace="com.hwua.common.dao.ProductQueryMapper">
    <select id="queryAll" resultType="product">
        SELECT * FROM product
    </select>


    <select id="queryByPid" resultType="product" parameterType="int">
        SELECT * FROM product WHERE pid = #{pid}
    </select>


    <select id="queryByMid" resultType="map" parameterType="int">
        SELECT * from cart,product
        WHERE cart.pid = product.pid AND status = 0 AND mid = #{mid}
    </select>

    <select id="fuzzySearch" parameterType="string" resultType="product">
        SELECT * FROM product WHERE searchInfo LIKE concat('%',#{info},'%')
    </select>

    <select id="queryType0" resultType="map" parameterType="int">
        SELECT * from cart,product
        WHERE cart.pid = product.pid AND status = 0 AND type = 0 AND mid = #{mid}
    </select>

    <update id="updateInventory" parameterType="map">
        UPDATE product SET INVENTORY = INVENTORY - #{count},SELLNUMBER = SELLNUMBER + #{count} WHERE pid = #{pid}
    </update>
</mapper>